node_modules
.next
out
build
.env
.env.local
.env.production
.vercel
*.tsbuildinfo
next-env.d.ts
.DS_Store

# Serwist SW build output (dibuat saat `next build`, jangan di-commit)
public/sw.js
public/swe-worker*.js
